input{
    border: none;
    
    width: 100%;
    height: 48px;
    padding: 16px;

    color: #fff;
    background-color: #2E2E36;
    
    font-family: 'Roboto' sans-serif;
    font-size: 12px;
}

input::placeholder{
    color: white;
}